.cv-info {
    @apply relative flex flex-col;

    .division {
        @apply relative w-[48%];

        &__icon {
            @apply absolute -top-8 -left-8 text-dark/5 text-[160px] animate-leviatation;
        }

        &__title {
            @apply uppercase text-dark text-[24px] font-bold tracking-widest relative z-10;
        }

        &__content {
            @apply mt-4 relative z-10;
        }

        &::before {
            content: '';
            @apply absolute -right-[33px] top-1/2 -translate-y-1/2 w-[14px] h-[14px] bg-dark rounded-full shadow-lg shadow-dark/50;
         
        }

        &:nth-child(even) {
            @apply self-end;

            .division__icon {
                @apply -right-8 left-[unset];
            }
            
            &::before {
                content: '';
                @apply -left-[31px];
            }
        }
    }

    &::before {
        content: '';
        @apply absolute top-0 bottom-0 left-[50%] bg-light/50 rounded-full w-[2px];
    }
}