.header {
    @apply fixed bottom-0 max-tablet:bg-white tablet:shadow-none left-0 right-0 z-30 transition;
    @apply tablet:py-6 tablet:top-0 tablet:bottom-[unset];

    -webkit-box-shadow: 0px -4px 15px -14px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -4px 15px -14px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -4px 15px -14px rgba(0, 0, 0, 0.2);

    &._scrolled {
        @apply bg-white;
    }

    &__links {
        @apply flex justify-start;
        @apply laptop:justify-center laptop:space-x-[64px] tablet:space-x-[32px];
    }

    &__item {
        @apply relative max-tablet:flex-grow basis-0;
    }

    &__link {
        @apply py-3 flex flex-col gap-1 items-center text-[10px] text-light font-bold tracking-wide whitespace-nowrap transition;
        @apply tablet:px-2 tablet:py-1 tablet:inline tablet:rounded-md tablet:text-body-2 phone3:text-body-3;
        
        &:not(._active):hover {
            @apply tablet:text-white tablet:bg-dark;
        }

        i {
            @apply text-body-2;
            @apply tablet:hidden;
        }
        
        &::before {
            content: '';
            @apply mr-1 absolute top-1/2 right-full -translate-y-1/2 bg-dark h-[8px] w-[20px] rounded-lg scale-0 opacity-0 transition pointer-events-none max-laptop:hidden;
        }

        &._active {
            @apply text-dark cursor-default;

            &::before {
                @apply scale-100 opacity-100;
            }
        }
    }

    &__lang {
        @apply fixed top-4 right-4 p-2 text-gray max-tablet:bg-white max-tablet:shadow rounded-md transition-colors hover:bg-dark hover:text-white;
        @apply tablet:absolute tablet:top-1/2 tablet:-translate-y-1/2 tablet:right-0;
    }
}