.home-socials {
    @apply flex justify-center;

    &__link {
        @apply [&:not(:first-child)]:ml-8 p-4 flex items-center justify-center text-[16px] rounded-full text-gray transition-all shadow-dark/10;
        box-shadow: 20px 20px 60px var(--tw-shadow-color),
            -20px -20px 60px #ffffff;

        animation-name: SlideTop;
        animation-duration: 0.6s;
        animation-fill-mode: backwards;

        &:hover {
            @apply px-8 text-white bg-dark shadow-dark/50;
        }
        
        i {
            @apply mr-2;
        }
    }
}

@keyframes SlideTop {
    from {
        @apply translate-y-8 opacity-0;
    }

    to {
        @apply translate-y-0 opacity-100;
    }
}