.project {
    @apply relative h-[240px] basis-1/3 bg-light/50 rounded-md overflow-hidden;
    
    &:hover &__content {
        @apply opacity-100;
    }
    
    &:hover &__title {
        @apply animate-slidetop opacity-100;
        animation-duration: 0.8s;
        animation-delay: 0.2s;
    }
    
    &:hover &__description {
        @apply animate-slidetop opacity-100;
        animation-duration: 0.8s;
        animation-delay: 0.3s;
    }
    
    &:hover &__link {
        @apply animate-fadein opacity-100;
        animation-delay: 0.3s;
    }
    
    &__preview {
        @apply object-cover w-full h-full;
    }

    &__content {
        @apply p-4 absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start bg-dark/50 rounded-b-md backdrop-blur-sm transition duration-500 opacity-0;
    }
    
    &__title {
        @apply text-body-1 text-white font-bold opacity-0;
    }
    
    &__description {
        @apply mt-4 flex-grow text-body-3 text-white leading-normal opacity-0;
    }
    
    &__controls {
        @apply flex items-end space-x-8;
    }
    
    &__link {
        @apply text-white/50 text-body-3 opacity-0 transition-[color];
        
        i {
            @apply mr-2;
        }
        
        &:hover {
            @apply text-white;
        }
    }
}