@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './fonts.scss';

@import "./modules/header.scss";
@import "./modules/home.scss";
* {
    line-height: 1;
}

body {
    font-family: 'JetBrainsMono';
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
}

#app {
    @apply min-h-[100vh];
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23e2e2e2' fill-opacity='0.2'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#cursor {
    @apply absolute -top-10 z-40 bg-dark w-[20px] h-[20px] border-[1px] border-[transparent] -translate-x-1/2 -translate-y-1/2 rounded-full pointer-events-none transition duration-300 drop-shadow-lg;
    
    &._hidden {
        @apply scale-0;
    }
    
    &._link {
        @apply bg-opacity-20 scale-[3] border-dark;
    }
}

.division {
    &__title{
        @apply pb-2 border-b-[3px] border-dark uppercase text-dark text-[24px] font-bold tracking-widest;
    }
    &__content {
        @apply mt-4;
    }
}