@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './fonts.scss';

* {
    line-height: 1;
}

body {
    font-family: 'JetBrainsMono';
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
}

#app {
    @apply min-h-[100vh];
}

#cursor {
    @apply absolute -top-10 z-40 bg-dark w-[20px] h-[20px] border-[1px] border-[transparent] -translate-x-1/2 -translate-y-1/2 rounded-full pointer-events-none transition duration-300 drop-shadow-lg;
    
    &._hidden {
        @apply scale-0;
    }
    
    &._link {
        @apply bg-opacity-0 scale-[3] border-dark;
    }
}

@import "./modules/header.scss";
@import "./modules/home.scss";